html {
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('https://files.vecteezy.com/system/protected/files/010/355/444/vecteezy_white-3d-background-vector-abstract-pattern-texture_10355444_695.jpg');
    background-size: cover;
    max-width: 100%;
}
div { 
    display: grid;
    place-items: center;
    font-family:sans-serif, cursive;
    font-size: 25pt;
    font-weight: bolder;
    -webkit-text-stroke:0.5px black;
    text-align: center;
    color: black;
    background-color: none;
    background-size: contain;
    padding: 0 auto;
    margin: 20px auto;
}
img {
    border-radius: 20pt;
    width: 40%;
}